{% extends "admin/base.html" %}
{% load i18n %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">{% trans "My Admin" %}</a>
</h1>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        /* Download button styles */
        .download-btn {
            display: flex;
            align-items: center;
            gap: 5px;
            border: 0.5px solid #364153;
            outline: none;
            border-radius: 4px;
            padding: 6px 12px;
            cursor: pointer;                 /* cursor pointer */
            transition: transform 0.1s ease; /* smooth scaling */
            background-color: #101828;
            color: white;
        }

        /* Scale down when active/clicked */
        .download-btn:active {
            transform: scale(0.95);
        }

        /* Optional: hover effect */
        .download-btn:hover {
            background-color: #1f2937;
        }
    </style>
{% endblock %}

{% block nav-global %}

<div style="display: flex; flex-direction: row; align-items: center; gap: 50px;">
    <!-- Download excel report button -->
    {% if "attendance" in request.path %}
        <iframe src="{% url 'download_report_component' %}"
                style="border:none; width: 460px; height: 40px;">
        </iframe>
    {% endif %}


    <!-- Language Dropdown -->
    <div style="float: right; margin-right: 20px;">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}

        {% for code, lang in LANGUAGES %}
            {% if code == LANGUAGE_CODE %}
            <div style="display: flex; align-items: center; gap: 10px;">
                <img style="height: 15px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/1280px-Flag_of_Russia.svg.png" alt="">
                <span>{{ lang }}</span>
            </span>
            {% endif %}
        {% endfor %}
    </div>
</div>


{{ block.super }}
{% endblock %}
